###`Q-1:` Create a random 3x4 matrix with value between 0-100. And perform below tasks

    i. Sort this matrix. np.sort()
    ii. Sort this matrix based on values in 2nd column.
    iii. Sort this matrix based on max value in each row.
    iv. Sort based on elements value.

See examples:
```
arr =
    [[92 90 74]
    [ 6 63 93]
    [15 93 96]
    [70 60 48]]
```
```
i. np.sort
[[74 90 92]
 [ 6 63 93]
 [15 93 96]
 [48 60 70]]

ii. based on 2nd column
[[70 60 48]
 [ 6 63 93]
 [92 90 74]
 [15 93 96]]

iii. based on row max- ascending
[[15 93 96]
 [ 6 63 93]
 [92 90 74]
 [70 60 48]]

iv. based on elements value
[[ 6 15 48]
 [60 63 70]
 [74 90 92]
 [93 93 96]]

```

In [13]:
# code here
import numpy as np
a = np.random.randint(1,100,12).reshape(3,4)
print(a)
np.sort(a)

[[88 46 23 38]
 [49 82  8 49]
 [53 29 77  3]]

array([[23, 38, 46, 88],
       [ 8, 49, 49, 82],
       [ 3, 29, 53, 77]])

In [14]:
# ques1- ii.
a[a[:,1].argsort()]

array([[53, 29, 77,  3],
       [88, 46, 23, 38],
       [49, 82,  8, 49]])

In [46]:
# ques1- iii
max_values = np.max(a,axis = 1)
max_values
matrix_indices = np.argsort(max_values[::-1])
a[matrix_indices]

array([[88, 46, 23, 38],
       [49, 82,  8, 49],
       [53, 29, 77,  3]])

In [ ]:
#ques1 - iv

###`Q-2:` There is an array of marks of 5 students in 4 subjects. Further you are asked to perform below task.
    i. Add marks every student of an extra subject in the same array.
    ii. Add two new students marks in respective 5 subjects.(one subject added in above task)
    iii. Add extra column with sum of all subjects(5-subjects) marks
    iv. Sort the array(non-ascending order) on total marks column--one added in above task. Show top 2 rows.

Note: Change dimension of arrays during concatenation or appending if required.

Given Array-
```
marks = [[13, 10,  9, 33],
       [63, 46, 90, 42],
       [39, 76, 13, 29],
       [82,  9, 29, 78],
       [67, 61, 59, 36]]

extra_subject = [41, 87, 72, 36, 92]
#Two extra students record-
rec1 = [77, 83, 98, 95, 89]
rec2 = [92, 71, 52, 61, 53]
```

In [90]:
# code here
#ques2 - i
marks = np.array([[13, 10,  9, 33],
       [63, 46, 90, 42],
       [39, 76, 13, 29],
       [82,  9, 29, 78],
       [67, 61, 59, 36]])
extra_subject = np.array([41, 87, 72, 36, 92])
extra_subject = extra_subject.reshape(marks.shape[0],1)
# np.append(marks,extra_subject,axis = 0)
marks = np.append(marks,extra_subject,axis = 1)
marks
extra_subject.shape

(5, 1)

In [95]:
# ques2 - ii
rec1 = np.array([77, 83, 98, 95, 89])
rec1 = rec1.reshape(1,marks.shape[0])
np.append(marks,rec1,axis = 0)
rec2 = np.array([92, 71, 52, 61, 53])
rec2 = rec2.reshape(1,marks.shape[0])
np.append(marks,rec2,axis = 0)

array([[13, 10,  9, 33, 41],
       [63, 46, 90, 42, 87],
       [39, 76, 13, 29, 72],
       [82,  9, 29, 78, 36],
       [67, 61, 59, 36, 92],
       [92, 71, 52, 61, 53]])

In [105]:
#ques2- iii
summation = np.sum(marks,axis = 0)
summation = summation.reshape(marks.shape[0],1)
marks_updated = np.append(marks,summation,axis = 1)
marks_updated

array([[ 13,  10,   9,  33,  41, 264],
       [ 63,  46,  90,  42,  87, 202],
       [ 39,  76,  13,  29,  72, 200],
       [ 82,   9,  29,  78,  36, 218],
       [ 67,  61,  59,  36,  92, 328]])

In [109]:
#ques2 - iv
marks_updated[marks_updated[:,-1].argsort(axis=0)[::-1]]

array([[ 67,  61,  59,  36,  92, 328],
       [ 13,  10,   9,  33,  41, 264],
       [ 82,   9,  29,  78,  36, 218],
       [ 63,  46,  90,  42,  87, 202],
       [ 39,  76,  13,  29,  72, 200]])

###`Q-3:` Find unique arrays from a 2D array column wise and row wise.
```
arr = np.array([[1,2,3,3,1,1],
                [0,9,1,2,8,8],
                [1,2,3,8,8,8],
                [1,2,3,3,1,1]])
```
Expected Result-
```
Row Wise
[[0 9 1 2 8 8]
 [1 2 3 3 1 1]
 [1 2 3 8 8 8]]

Col Wise
[[1 1 2 3 3]
 [0 8 9 1 2]
 [1 8 2 3 8]
 [1 1 2 3 3]]
```

In [117]:
# code here
# Ques3
arr = np.array([[1,2,3,3,1,1],
                [0,9,1,2,8,8],
                [1,2,3,8,8,8],
                [1,2,3,3,1,1]])
row_wise =  np.unique(arr,axis = 0)
column_wise = np.unique(arr,axis = 1)
print("row wise unique array\n",row_wise)
print("column wise unique array \n",column_wise)

row wise unique array
 [[0 9 1 2 8 8]
 [1 2 3 3 1 1]
 [1 2 3 8 8 8]]
column wise unique array
 [[1 1 2 3 3]
 [0 8 9 1 2]
 [1 8 2 3 8]
 [1 1 2 3 3]]

###`Q-4:` Flip given 2-D array along both axes at the same time.

In [119]:
# code here
arr = np.array([[1,2,3,3,1,1],
                [0,9,1,2,8,8],
                [1,2,3,8,8,8],
                [1,2,3,3,1,1]])
flip_row = np.flip(arr,axis=0)
flip_row

array([[1, 2, 3, 3, 1, 1],
       [1, 2, 3, 8, 8, 8],
       [0, 9, 1, 2, 8, 8],
       [1, 2, 3, 3, 1, 1]])

### `Q-5:` Get row numbers of NumPy array having element larger than X.
```
arr = [[1,2,3,4,5],
      [10,-3,30,4,5],
      [3,2,5,-4,5],
      [9,7,3,6,5]]

X = 6
```

In [133]:
# code here
arr = np.array([[1,2,3,4,5],
      [10,-3,30,4,5],
      [3,2,5,-4,5],
      [9,7,3,6,5]])
x = 6
output = np.where(np.any(arr>6,axis=1))
output

(array([1, 3], dtype=int64),)

### `Q-6:` How to convert an array of arrays into a flat 1d array?

In [155]:
# These arrays are given.
arr1 = np.arange(3)
arr2 = np.arange(3,7)
arr3 = np.arange(7,10)
np.hstack((arr1,arr2,arr3))

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
# code here

### `Q-7:` You are given a array. You have to find the minimum and maximum array element and remove that from the array.

```python
import numpy as np

np.random.seed(400)
arr = np.random.randint(100, 1000, 200).reshape((1, 200))
```

In [165]:
# code here
import numpy as np

# np.random.seed(400)
arr = np.random.randint(100, 1000, 200).reshape((1, 200))
print("original array shape",arr.shape)
maxmimum = np.max(arr)
minimum = np.min(arr)
arr_final = np.delete(arr,[np.argmax(arr),np.argmin(arr)])
print("final array",arr_final.shape)

original array shape (1, 200)
final array (198,)

### `Q-8:` You are given an arrays. You have to limit this array's elements between 100 to 200. $arr ∈ [100, 700]$. So replace those values accordingly with the minimum and maximum value. Then sort the array and perform the cumulative sum of that array.

In [172]:
# code here
arr = np.random.randint(100,700,100)
arr_1 = np.clip(arr,a_min = 100,a_max = 200)
# np.sort(arr_1)
np.cumsum(arr_1)

array([  200,   400,   600,   800,  1000,  1200,  1400,  1600,  1732,
        1901,  2101,  2301,  2501,  2701,  2901,  3101,  3301,  3501,
        3701,  3859,  4059,  4259,  4459,  4659,  4859,  5059,  5259,
        5459,  5659,  5859,  6059,  6259,  6459,  6659,  6859,  7044,
        7219,  7419,  7619,  7819,  7973,  8173,  8301,  8491,  8691,
        8891,  9091,  9291,  9491,  9691,  9891, 10091, 10291, 10491,
       10691, 10891, 11091, 11271, 11471, 11626, 11826, 12011, 12211,
       12411, 12611, 12811, 13011, 13211, 13411, 13611, 13793, 13993,
       14193, 14393, 14593, 14793, 14993, 15193, 15393, 15593, 15793,
       15993, 16193, 16393, 16593, 16793, 16993, 17193, 17378, 17578,
       17778, 17969, 18169, 18369, 18569, 18769, 18969, 19169, 19369,
       19477], dtype=int32)

### `Q-9:` You are given a array ($arr ∈ [0, 1]$). First you have round off the elements upto 3 decimal places and compare that
- 0th percentile == minimum value of the array
- 100th percentile == maximum value of the array
- also find the difference betwen 51th percenile and 50th percentile values

In [189]:
# code here
sampl = np.random.uniform(low=0, high=1, size=(50,))
arr_rounded = np.round(sampl,decimals = 3)
zero_percentile = np.percentile(arr_rounded,0)
hundered_percentile = np.percentile(arr_rounded,100)

0.085

In [185]:
sampl = np.random.uniform(low=0, high=1, size=(50,))